.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #eee;
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
    padding: 16px;
}

.btn {
    background-color: #069a06;
    color: #fff;
    margin-right: 16px;
}

.btn:hover {
    background-color: #05af05;
}