.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #eee;
    border-bottom: 1px solid #000;
    margin-bottom: 40px;
    padding: 16px;
}

.header form {
    display: flex;
}